<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error - Issue Tracker</title>
  </head>
  <body>
    <a href="/" class="home-button"> <img src="https://cdn-icons-png.flaticon.com/512/5974/5974636.png" alt="home" height="50px" width="50px"></a>

    <h1>Error</h1>

    <p><%= message %></p>
  </body>
</html>
